<html>
	<head>
		<title>Fatura cancelada</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			 <div class="row text-center mt-1">
				 <img src="https://s3-sa-east-1.amazonaws.com/clubflex/public/logo.png" height="57" width="200" />
			 </div>
			 <div class="row text-center mt-1">
			 	<h4>Olá, {{nome}}</h4>
			 </div>
			 <div class="row text-center mt-1">
			 	Informamos que sua assinatura foi bloqueada por falta de pagamento.
			 </div>
			 <div class="row text-center mt-1">
			 	<p>Regularize já e não fique sem a nossa cobertura. </b></p>
			 </div>
			 <div class="row text-center mt-1">
			 	<p>Se o pagamento foi realizado, favor desconsiderar essa mensagem.</b></p>
			 </div>
			 <div class="row text-center mt-1">
			 	<p>Atenciosamente, <br> Equipe Clubflex.</p>
			 </div>
		</div>

	</body>
</html>