<html>
	<head>
		<title>Boleto cancelado</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			 <div class="row text-center mt-1">
				 <img src="https://s3-sa-east-1.amazonaws.com/clubflex/public/logo.png" height="57" width="200" />
			 </div>
			 <div class="row text-center mt-1">
			 	<h4>Olá, {{nome}}</h4>
			 </div>
			 <div class="row text-center mt-1">
			 	<h5>Só para avisar que o boleto abaixo foi cancelado. Pode ficar despreocupado.</h5><br>
			 </div>
			 <div class="row text-center mt-1">
			 	<p>Vencimento em: <b>{{vencimento}}</b></p>
			 	<p>Valor: <b>{{valor}}</b></p>
			 	<p>Nosso número: <b>{{numero}}</b></p>
			 </div>
			  <div class="row text-center mt-1">
			 	<h5>Caso tenha esse boleto em mãos, pode descarta-lo.</h5><br>
			 </div>
			  <div class="row text-center mt-1">
			 	<p>Atenciosamente, <br> Equipe Clubflex.</p>
			 </div>
		</div>

	</body>
</html>