<html>
	<head>
		<title>Pago</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			 <div class="row text-center mt-1">
				 <img src="https://s3-sa-east-1.amazonaws.com/clubflex/public/logo.png" height="57" width="200" />
			 </div>
			 <div class="row text-center mt-1">
			 	<h4>Olá, {{nome}}</h4>
			 </div>
			 <div class="row text-center mt-1">
			 	<h5>Só para avisar que recebemos o seu pagamento. Obrigado!</h5><br>
			 </div>
			 <div class="row text-center mt-1">
			 	<p>Vencimento em: <b>{{vencimento}}</b></p>
			 </div>
			 <div class="row text-center">
			 	<p>Valor Pago: <b>{{valor}}</b></p>
			 </div>
			  <div class="row text-center mt-1">
			 	<p>Fique tranquilo, em até 24 horas você receberá a nota fiscal.</p>
			 </div>
			  <div class="row text-center mt-1">
			 	<p>Atenciosamente, <br> Equipe Clubflex.</p>
			 </div>
		</div>

	</body>
</html>