<html>
	<head>
		<title>Preview</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			 <div class="row text-center mt-1">
				 <img src="https://s3-sa-east-1.amazonaws.com/clubflex/public/logo.png" height="57" width="200" />
			 </div>
			 <div class="row text-center mt-1">
			 	<h4>Olá, {{holder}}</h4>
			 </div>
			 <div class="row text-center mt-3">
			 	  <p><h5>Segue sua previsão de faturamento para este mês. </h5></p>
			 </div>
			 <div class="row text-center mt-1">
				 <p><h5><b>Sua fatura estará disponível para pagamento no dia: {{dayOfpayment}}</b></h5></p>
				 <p><h5>Você tem até o dia <b>{{dateAjusts}}</b> para efetuar qualquer ajuste.</h5></p>
			 </div>
			 <div class="row text-center mt-1">
			 	<p><h5><a href="{{link}}">Clique aqui</a> para acessar a pré-visualização</h5></p>
			 </div>
			 <div class="row text-center mt-1">
				<h5>Caso haja qualquer dúvida entre em contato com os nossos consultores.</h5><br>
				<br>
			 	<p>Atenciosamente, <br> Equipe Clubflex.</p>
			 </div>
		</div>

	</body>
</html>
